$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower
.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: #000;
  background: #ccc;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* --------------------------------

Primary style

-------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::after,
*::before {
  content: '';
}
body {
  font-family: 'SF UI Display', '.PingFang SC', 'PingFang SC', 'Neue Haas Grotesk Text Pro', 'Arial Nova', 'Segoe UI', 'Microsoft YaHei', 'Microsoft JhengHei', 'Helvetica Neue', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Source Han Sans CN', 'Noto Sans SC', 'Source Han Sans TC', 'Noto Sans CJK TC', 'Helvetica', 'Hiragino Sans GB', sans-serif;
  font-size: 100%;
  color: #4e5359;
  background-color: #f3f3f5;
}
body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  opacity: 0;
  background-color: rgba(78, 83, 89, .8);
}
body.cd-overlay::after {
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  body::after {
    display: none;
  }
  a:hover,
  a:focus {
    text-decoration: none;
    color: #fafaff;
  }
}
a {
  font-size: 18px;
  text-decoration: none;
  color: #444;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2b2b2b;
}
@media only screen and (max-width: 414px) {
  a:hover,
  a:focus {
    text-decoration: none;
    color: #fafaff;
  }
}
.sep20 {
  height: 20px;
}

/* --------------------------------

Main components

-------------------------------- */
header {
  line-height: 1;
  position: relative;
  height: 180px;
  text-align: center;
  background-color: #666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;

  // background-image: url("../images/negativespace-14-2015-10-14-0841.jpg");
  // background-repeat: repeat;
  // background-attachment: fixed;
  // background-size: 100%;
}
header h1 {
  font-size: 40px;
  font-weight: 500;
  padding-top: 70px;
  text-shadow: rgba(255,255,255,0.5) 0 3px 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header p {
  font-size: 20px;
  padding-top: 30px;
  text-shadow: rgba(255,255,255,0.5) 0 3px 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 414px) {
  header h1 {
    font-size: 26px;
    font-weight: 500;
  }
  header p {
    font-size: 16px;
  }
}
.cd-faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.cd-faq:after {
  display: table;
  clear: both;
  content: '';
}
@media only screen and (min-width: 768px) {
  .cd-faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}
.cd-faq-categories a {
  line-height: 50px;
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  padding: 0 28px 0 16px;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #212121;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-faq-categories a::before,
.cd-faq-categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: #7f868e;
}
.cd-faq-categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-faq-categories li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .cd-faq-categories {
    float: left;
    width: 20%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
  }
  .cd-faq-categories a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600;
    padding: 0 24px;
    padding-left: 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .cd-faq-categories a::before,
  .cd-faq-categories a::after {
    display: none;
  }
  .no-touch .cd-faq-categories a:hover {
    background: #f2f2f2;
  }
  .no-js .cd-faq-categories {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-categories {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 200px;
  }
  .cd-faq-categories a::before {
    top: 0;
    right: auto;
    left: 0;
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    width: 3px;
    height: 100%;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: 0;
    background-color: #ff3b30;
  }
  .cd-faq-categories .selected {
    background: #fff !important;
  }
  .cd-faq-categories .selected::before {
    opacity: 1;
  }
  .cd-faq-categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }
  .no-js .cd-faq-categories {
    position: relative;
  }
}
.cd-faq-items {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow: auto;
  width: 90%;
  height: 100%;
  padding: 0 5% 1em;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  background: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .cd-faq-items {
  position: static;
  width: 100%;
  height: auto;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .cd-faq-items {
    position: static;
    float: right;
    overflow: visible;
    width: 78%;
    height: auto;
    padding: 0;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    background: transparent;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-items {
    float: none;
    width: 100%;
    padding-left: 220px;
  }
  .no-js .cd-faq-items {
    padding-left: 0;
  }
}
.cd-close-panel {
  position: fixed;
  z-index: 2;
  top: 5px;
  right: -100%;
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  white-space: nowrap;
  text-indent: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-close-panel::before,
.cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 3px;
  background: #6c7d8e;
}
.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}
.cd-faq-group {
  /* hide group not selected */
  display: none;
}
.cd-faq-group.selected {
  display: block;
}
.cd-faq-group .cd-faq-title {
  margin: 1em 0;
  background: transparent;
  box-shadow: none;
}
.no-touch .cd-faq-group .cd-faq-title:hover {
  box-shadow: none;
}
.cd-faq-group .cd-faq-title h2 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #bbbbc7;
}
.no-js .cd-faq-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-faq-group {
    /* all groups visible */
    display: block;
  }
  .cd-faq-group > li {
    margin-bottom: 6px;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
  }
  .no-touch .cd-faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, .3);
  }
  .cd-faq-group .cd-faq-title {
    margin: 2em 0 1em;
  }
  .cd-faq-group:first-child .cd-faq-title {
    margin-top: 0;
  }
}
.cd-faq-trigger {

  // margin: 1.6em 0 0.4em;
  font-size: 15px;
  line-height: 3;
  position: relative;
  display: block;
  color: #000100;
}
@media only screen and (max-width: 414px) {
  .cd-faq-trigger {
    left: -10%;
    width: 120%;
    padding-right: 5%;
    text-align: right;
    color: #fafaff;
    background-color: #30343f;
  }
}
@media only screen and (min-width: 768px) {
  .cd-faq-trigger {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }
  .cd-faq-trigger::before,
  .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    top: 50%;
    right: 24px;
    width: 13px;
    height: 2px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    background: #2b2b2b;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-faq-trigger::before {
    right: 32px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.cd-faq-content p {
  font-size: 16px;
  line-height: 2;
  margin: 10px 0;
  color: #2b2b2b;
}
.cd-faq-content ul {
  margin-left: 20px;
  list-style: circle;
  li {
    color: #eb0043;
  }
}
.cd-faq-content img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cd-faq-content {
    display: none;
    padding: 0 24px 30px;
  }
  .cd-faq-content p {
    line-height: 1.6;
  }
  .no-js .cd-faq-content {
    display: block;
  }
}
@media only screen and (min-width: 320px) {
  .cd-faq-content p {
    font-size: 13px;
    line-height: 1.4rem;
  }
}
